.wrapper {
    border-radius: 100px;
    padding: 12px 18px;
    margin-right: 8px;
    margin-bottom: 8px;
    width: auto;
    height: 44px;
    background-color: #F2F4F7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
}

.icon {
    margin-right: 8px;
}

.title {
    text-transform: capitalize;
}