@import 'src/styles/_colors.scss';

.btn {
    margin-top: 15px;
    border-radius: 200px;
    // padding: 16px 60px;
    width: 160px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;

    border: 1px solid rgba(71, 84, 103, 0.2);
    padding: 16px 32px;
    width: 145px;
    height: 56px;

    &:hover {
        border-color: $button-main-bg-hover;
    }
}