.icon {
    display: block;
    height: 200px;
    width: 200px;

}

.nothingFoundContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 30px;
    font-size: 18px;
}