.futureTabContainer {
    display: flex;
    margin-top: 44px;
}

.title {
    margin-top: 44px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.holder {
    max-width: 50%;
    margin-right: 24px;
}